@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica-5-Normal.eot');
  src: url('../fonts/Helvetica-5-Normal.woff2') format('woff2'),
       url('../fonts/Helvetica-5-Normal.woff') format('woff'),
       url('../fonts/Helvetica-5-Normal.ttf') format('truetype'),
       url('../fonts/Helvetica-5-Normal.svg#Helvetica-5-Normal') format('svg'),
       url('../fonts/Helvetica-5-Normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url('../fonts/Helvetica-7-Bold.eot');
  src: url('../fonts/Helvetica-7-Bold.woff2') format('woff2'),
       url('../fonts/Helvetica-7-Bold.woff') format('woff'),
       url('../fonts/Helvetica-7-Bold.ttf') format('truetype'),
       url('../fonts/Helvetica-7-Bold.svg#Helvetica-7-Bold') format('svg'),
       url('../fonts/Helvetica-7-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




body {
  height: auto;
  overflow: auto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: black;
  min-width: 320px;
  background-color: white;
}
div {
  box-sizing: border-box;
}
.conteiner {
  position: fixed;
  top:0px;
  left:0px;
  min-width: 320px;
  max-width: 670px;
}
.thank {
  border-left: 0;
  border-right: 0;
  border-top: 75px;
  border-bottom: 5px;
  border-style: solid;
  border-color: #456dfb;
  height: 350px;
  width: 100%;
}
.thank .text {
  font-family: "Helvetica-Bold";
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  text-align:center;
}
.questions {
  border-color: #f2f2f2;
  font-size: 0;
}

.questions .header .count {
  width: 75px;
  min-height: 75px;
  background-color: #456dfb;
  font-family: "Helvetica-Bold";
  font-size: 20px;
  line-height: 1.1;
  color: #ffffff;
  /*padding: 25px 18px;*/
  position: absolute;
  text-align: center;
  vertical-align: middle;

}
.questions .header .title {
  background-color: #f2f2f2;
  min-height: 75px;
  font-family: "Helvetica-Bold";
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  padding: 15px 15px 15px 95px;
  min-width: 245px;
}
.questions .options {
  padding: 0 0 0 15px;
}
.questions .item {
  margin-top: 20px;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  cursor: pointer;
}
.questions .item .check {
  width: 16px;
  height: 16px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 3px;
  margin-top: 3px;
  margin-right: 20px;
  transition: border-color ease 0.1s, background-color ease 0.1s;
}
.questions .item:hover .check {
  background-color: #456dfb;
  background-clip: content-box;
  border-color: #456dfb;
}
.questions .item .text {
  display: inline-block;
  vertical-align: top;
  width: 85%;
  font-family: Sans-Serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-left: 5px;
}

/*.animation-enter {
 opacity: 0.01;
 pointer-events: none;
 }
.animation-enter.animation-enter-active {
 opacity: 1;
 transition: opacity 1s ease-in;
 pointer-events: none;
 }

 .animation-leave {
  display: none;
}
.animation-leave.example-leave-active {
  display: none;
}*/


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
  pointer-events: none;
}
