body {
  height: auto;
  overflow: auto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: white;
}
div {
  box-sizing: border-box;
}
.conteiner {
  position: fixed;
  top:0px;
  left:0px;
  min-width: 320px;
  max-width: 670px;
  width: 100%;
  font-family: Sans-Serif;
}
.thank {
  border-left: 2px  #f2f2f2;
  border-right: 2px  #f2f2f2;
  border-top: 75px #456dfb;
  border-bottom: 5px #456dfb;
  border-style: solid;
  min-height: 350px;
}
.thank .text {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  text-align:center;
}
.questions {
  font-size: 0;
  border: 2px;
  border-bottom: 5px;
  border-color: #f2f2f2;
  border-style: solid;
  min-height: 350px;
  padding-bottom: 30px;
}

.questions .header .count {
  width: 75px;
  min-height: 75px;
  background-color: #456dfb;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  color: #ffffff;
  /*padding: 25px 18px;*/
  position: absolute;
  text-align: center;
  vertical-align: middle;

}
.questions .header .title {
  background-color: #f2f2f2;
  min-height: 75px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  padding: 15px 15px 15px 95px;
  min-width: 245px;
}
.questions .options {
  padding: 0 0 0 15px;
}
.questions .item {
  margin-top: 20px;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  cursor: pointer;
}
.questions .item .check {
  width: 16px;
  height: 16px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 3px;
  margin-top: 3px;
  margin-right: 20px;
  transition: border-color ease 0.1s, background-color ease 0.1s;
}
.questions .item:hover .check {
  background-color: #456dfb;
  background-clip: content-box;
  border-color: #456dfb;
}
.questions .item .text {
  display: inline-block;
  vertical-align: top;
  width: 85%;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-left: 5px;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
  pointer-events: none;
}
